.SendTransactionForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem;
}

.input {
  background: none;
  color: black;
  font-size: 1rem;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 320px;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #404040;

  &:focus {
    outline: none;
    top: -14px;
    font-size: 1rem;
    border-bottom: 2px solid #5568f9;
  }
}

.input:disabled,
.input[disabled] {
  border: 2px solid #999999;
  color: #666666;
  border-radius: 0.5rem;
  cursor: auto;
}

.validationError {
height: 1rem;
color: red;
  
}