.button {
  display: flex;
  align-items: center;
  justify-content: space-around;

  width: 16rem;
  height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.5rem;
  border: 0;

  cursor: pointer;
  color: #fff;
  font-size: 1rem;

  background-color: #5568f9;

  &:hover {
    background-color: #4358f3;
    transition: 0.3s background-color;
  }

  &:active {
    transform: translateY(2px);
  }
}

.button:disabled,
.button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: auto;

  &:active {
    transform: none;
  }
}
