.main {
  margin-top: 5rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  // padding: 2rem;

  //   @media only screen and (max-width: 768px) {
  //     form{
  //       padding: 1rem;

  //       button {
  //         width: 8rem;
  //       }
  //     }

  //   }

  //   @media only screen and (max-width: 485px) {
  //     & {
  //   padding: 0.5rem;
  //   form {
  //     padding: 0.2rem;
  //     }
  //   }

  //   input {
  //     padding: 0.5rem;
  //   }

  // }
}

.gitHubLink {
  position: absolute;
  bottom: 0;
  right: 50%;


}

.gitHubImg {
  width: 2rem;
  height: 2rem;
  margin-bottom: 2rem;
}