.header {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;

  div {
    font-size: 3rem;
    color: #5468ff;
  }

  // @media only screen and (max-width: 768px) {
  //   button {
  //     width: 8rem;
  //     font-size: 1rem;
  //   }
  // }
}
