.Header {
  height: 12vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem;
  border-bottom: 0.1rem solid black;
}

.buttonWallet {
  padding: 0.5rem;
  border-radius: 0.3rem;
}

.buttonWallet:hover {
  color: white;
  background-color: black;

}
