#root {
  max-width: 1280px;
  margin: 0 auto;
 
  text-align: center;
}

// .appWrapper {
//   background-color: silver;
//   height: 100vh;
//   padding: 6rem;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.app {
  // background-color: silver;
  // height: 100vh;
  // // padding: 6rem;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  padding: 2rem;
}
