#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



.appWrapper {
  background-color: silver;
  height: 100vh;
  padding: 6rem;
  
}

.app {
  border: 0.1rem solid black;
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
